:root {
  font-family: "Montserrat", sans-serif;

  /* font-weight: 500;
  font-weight: 700; */
}

* {
  margin: 0;
  box-sizing: border-box;
  max-width: 1080px;
}

body {
  background-color: #673399;
}

li {
  margin: 0;
  list-style: none;
}

.wrap {
  position: absolute;
  inset: 0;
  margin: 20px auto;
}

/* header */
header {
  display: flex;
  margin-bottom: 100px;
}

h1 {
  flex-basis: 26%;
  font-size: 40px;
}

h1 a {
  text-decoration: none;
  color: white;
  font-weight: lighter;
  white-space: nowrap;
}

.header-underline {
  box-shadow: inset 0 -20px 0 orangered;
}

.header-text {
  font-size: 14px;
  color: #bd8fe8;
  display: flex;
  align-items: center;
  min-width: 0;
  padding-right: 25%;
}

.header-text::before {
  content: "";
  background: #bd8fe8;
  height: 2px;
  flex-basis: 40%;
  flex-grow: 1;
  margin: 0px 25px;
}

/* board */
.card-item {
  display: flex;
  margin-bottom: 24px;
  background: white;
}

.card-item:nth-child(2) {
  display: flex;
  flex-direction: row-reverse;
}

h2 {
  font-size: 30px;
  color: white;
  flex-grow: 1;
  flex-basis: 0;
  text-align: center;
}

.card-text {
  flex-grow: 2.7;
  flex-basis: 0;
}

h3 {
  font-size: 18px;
  color: #673399;
  margin: 24px 24px 24px;
}

.card-text ul {
  font-size: 14px;
  margin: 0px 24px 20px;
  line-height: 28px;
  text-indent: -20px;
  padding-left: 20px;
}

.card-text li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #bd8fe8;
  border-radius: 50%;
  margin-right: 10px;
}

@media (max-width: 700px) {
  .header-text,
  .header-text p {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    width: 1px;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
}

/* 배경 이미지 */
.card-rest {
  position: relative;
}

.card-craft {
  position: relative;
}

.card-scrap {
  position: relative;
}

.card-rest::before {
  content: "";
  background-image: url(./images/photo01.png);
  background-size: cover;
  position: absolute;
  inset: 0;
}

.card-craft::before {
  content: "";
  background-image: url(./images/photo02.png);
  background-size: cover;
  position: absolute;
  inset: 0;
}

.card-scrap::before {
  content: "";
  background-image: url(./images/photo03.png);
  background-size: cover;
  position: absolute;
  inset: 0;
}

.card-rest:hover::after,
.card-craft:hover::after,
.card-scrap:hover::after {
  background-color: rgba(128, 0, 128, 0.329);
  background-size: cover;
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.card-rest:hover::after {
  content: "Rest";
}
.card-craft:hover::after {
  content: "Craft";
}

.card-scrap:hover::after {
  content: "Scrap";
}
